{% extends "admin/bases.html" %}

{% block content %}
<div id="bankuai" d="{{bankuai}}" style="display:none"></div>
<form class="layui-form" lay-filter="form1" id="form1" style="display: none" >
  <div class="layui-form-item">
    <label class="layui-form-label">股票代码</label>
    <div class="layui-input-block">
      <input type="text" name="code" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input" id="code">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">股票名称</label>
    <div class="layui-input-block">
      <input type="text" name="name" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
    </div>
  </div>
  <input type="text" name="bankuai" lautocomplete="off" style="display:none" value="{{bankuai}}">
</form>

<form class="layui-form" lay-filter="form2" id="form2" style="display: none" >
  <div class="layui-form-item">
    <label class="layui-form-label">标题</label>
    <div class="layui-input-block">
      <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input" id="code">
    </div>
  </div>
  <input type="text" name="bankuai" lautocomplete="off" style="display:none" value="{{bankuai}}">
</form>

<div id="toolbarDemo" style="display:none">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
    <button class="layui-btn layui-btn-sm" lay-event="fresh">刷新表格</button>
  </div>
</div>

<table  id="test" lay-filter="stocktable"></table>

<div id="toolbarArticle" style="display:none">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="addArticle">添加</button>
  </div>
</div>
<table  id="article" lay-filter="article"></table>









<script type="text/html" id="operation">
    <a class="layui-btn layui-btn-xs" lay-event="dongfang" >东方财富</a>
        <a class="layui-btn layui-btn-xs" lay-event="nianbao" >年报</a>
        <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="touzi" >投资数据网</a>
    <a class="layui-btn layui-btn-xs" lay-event="detail" >详情</a>
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="update">更新</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


<script type="text/html" id="articles">
    <a class="layui-btn layui-btn-xs" lay-event="chakan" >查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="bianji" >编辑</a>
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="update">更新</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>
  layui.use('table', function(){

      var url = '/stocks/stockInfos/' + document.getElementById('bankuai').getAttribute('d');
      var table = layui.table
      table.render({
          elem: '#test'
          ,toolbar: '#toolbarDemo'
          ,url: url
          ,page : {
             layout: ['count', 'prev', 'page', 'next', 'limit', 'skip']
           },
        cols: [[ //表头
           {field: 'id', title: '序号', width:80, sort: true, fixed: 'left', type:'numbers'}
          ,{field: 'code', title: '股票代码', width:100}
          ,{field: 'name', title: '股票名称', width:90}
          ,{field: 'price', title: '价格', width:80,edit: 'text'}
          ,{field: 'pe', title: '市盈率', width: 80, sort: true,edit: 'text'}
          ,{field: 'pb', title: '市净率', width: 80, sort: true,edit: 'text'}
          ,{fixed: 'right', title: '操作', toolbar: '#operation', width:400}
        ]],
      });

        //头工具栏事件
      table.on('toolbar(stocktable)', function(obj){

          switch(obj.event) {

                case 'add':
                layer.open({
                type: 1,
                // content:'http://localhost:5050/stocks/stockform/',
                content:$('#form1'),
                skin: 'layui-layer-rim', //加上边框
                area: ['370px', '360px'], //宽高
                btn: ['添加','取消'],
                yes: function (layero,index) {
                    formData = layui.form.val("form1");
                    $.ajax({
                        url:"/stocks/addStock",
                        data:formData,
                        method:'post',
                        "Content-Type": "application/json;charset=utf8",
                        dataType:"json",
                        success:function(data){
                            if (data.status == 'ok') {
                                layer.msg('添加成功');
                            }
                            layer.closeAll();
                            table.reload('test', {});
                        },
                        error:function(data){
                            layer.alert(JSON.stringify(data), {
                                title: data
                            });
                         }
                     });

                }

                });
                  break;

                  case 'fresh':
                       layer.msg('更新成功');
                      table.reload('test', {});
                       break;
          }


      });

      //表格工具栏事件
      table.on('tool(stocktable)', function(obj){
        var data = obj.data;
        if(obj.event === 'del'){
          layer.confirm('真的删除行么', function(index){
              $.ajax({
                url:"/stocks/deleteStock",
                data:{'code':data.code},
                method:'post',
                "Content-Type": "application/json;charset=utf8",
                dataType:"json",
                success:function(data){
                    if (data.status == 'ok') {
                        layer.msg('删除成功');
                        table.reload('test', {});
                    }
                },
                error:function(data){
                    layer.alert(JSON.stringify(data), {
                        title: data
                    });
                 }
            });
            obj.del();
            layer.close(index);
          });
        } else if(obj.event === 'update'){
              $.ajax({
                url:"/stocks/updateStock",
                data:data,
                method:'post',
                "Content-Type": "application/json;charset=utf8",
                dataType:"json",
                success:function(data){
                    if (data.status == 'ok') {
                        layer.msg('更新成功');
                        table.reload('test', {});
                    }
                },
                error:function(data){
                    layer.alert(JSON.stringify(data), {
                        title: data
                    });
                 }
            });
        }else if(obj.event === 'detail'){
            window.location.href ="http://localhost:5050/stocks/stockDetail/" + data.code + "/" + data.name;
        }else if(obj.event === 'dongfang'){
            window.open("https://emweb.securities.eastmoney.com/PC_HSF10/BusinessAnalysis/Index?type=web&code="+data.code, "_blank");
        }else if(obj.event === 'touzi'){
            window.open("https://www.touzid.com/company/fundamental.html#/"+data.code, "_blank");
        }
        else if(obj.event === 'nianbao'){
            url = "https://money.finance.sina.com.cn/corp/go.php/vCB_Bulletin/stockid/" +data.code.substring(2)+"/page_type/ndbg.phtml"
            window.open(url, "_blank");
        }
     });


     //相关文章表格
      var articleTable = layui.table
      var url1 = '/stocks/articles/' + document.getElementById('bankuai').getAttribute('d');
      articleTable.render({
          elem: '#article'
          ,toolbar: '#toolbarArticle'
          ,url: url1
          ,page : {
             layout: ['count', 'prev', 'page', 'next', 'limit', 'skip']
           },
        cols: [[ //表头
           {field: 'ids', title: '序号', width:80, sort: true, fixed: 'left', type:'numbers'}
           ,{field: 'id', title: '隐藏id',hide:true}
          ,{field: 'title', title: '标题', width:350,edit: 'text'}
          ,{field: 'remarks', title: '备注', width:150,edit: 'text'}
          ,{field: 'relatedStocks', title: '相关股票', width:280,edit: 'text'}
          ,{fixed: 'right', title: '操作', toolbar: '#articles', width:400}
        ]],
      });
              //头工具栏事件
      articleTable.on('toolbar(article)', function(obj){
          switch(obj.event) {
                case 'addArticle':
                layer.open({
                type: 1,
                content:$('#form2'),
                skin: 'layui-layer-rim', //加上边框
                area: ['370px', '360px'], //宽高
                btn: ['添加','取消'],
                yes: function (layero,index) {
                    formData = layui.form.val("form2");
                    $.ajax({
                        url:"/stocks/addArticle",
                        data:formData,
                        method:'post',
                        "Content-Type": "application/json;charset=utf8",
                        dataType:"json",
                        success:function(data){
                            if (data.status == 'ok') {
                                layer.msg('添加成功');
                            }
                            layer.closeAll();
                            table.reload('article', {});
                        },
                        error:function(data){
                            layer.alert(JSON.stringify(data), {
                                title: data
                            });
                         }
                     });

                }

                });
                  break;
          }


      });

            //表格工具栏事件
      articleTable.on('tool(article)', function(obj){
        var data = obj.data;
        if(obj.event === 'del'){
          layer.confirm('真的删除行么', function(index){
              $.ajax({
                url:"/stocks/deleteArticle",
                data:{'title':data.title},
                method:'post',
                "Content-Type": "application/json;charset=utf8",
                dataType:"json",
                success:function(data){
                    if (data.status == 'ok') {
                        layer.msg('删除成功');
                        table.reload('article', {});
                    }
                },
                error:function(data){
                    layer.alert(JSON.stringify(data), {
                        title: data
                    });
                 }
            });
            obj.del();
            layer.close(index);
          });
        } else if(obj.event === 'update'){
              $.ajax({
                url:"/stocks/addArticle",
                data:data,
                method:'post',
                "Content-Type": "application/json;charset=utf8",
                dataType:"json",
                success:function(data){
                    if (data.status == 'ok') {
                        layer.msg('更新成功');
                        table.reload('test', {});
                    }
                },
                error:function(data){
                    layer.alert(JSON.stringify(data), {
                        title: data
                    });
                 }
            });
        }else if(obj.event === 'bianji'){
            window.location.href ="http://localhost:5050/stocks/articleContentEdit/" + data.title;
        }else if(obj.event === 'chakan'){
            window.location.href ="http://localhost:5050/stocks/articleContent/" + data.title;
        }
     });

  });

</script>



{% endblock %}