
{% extends "admin/bases.html" %}
 {% import "admin/fy.html" as pg %}
{% block content %}

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
  <legend>完整功能（没错，目前工具栏只有这么多）</legend>
</fieldset>
<div id="code" d="{{code}}" style="display:none"></div>
<div id="name" d="{{code}}" style="display:none"></div>

<textarea id="demo" style="display: none;"></textarea>

<div class="site-demo-button" style="margin-top: 20px;">
  <button class="layui-btn site-demo-layedit" data-type="content" >提交</button>
</div>

<script>

layui.use('layedit', function(){

  var layedit = layui.layedit
  ,$ = layui.jquery;
  var index = layedit.build('demo',{
    height: 500
  });

  var  code = document.getElementById('code').getAttribute('d');
   var  name = document.getElementById('name').getAttribute('d');
    $.ajax({
            url:"/stocks/stockContent/" + code,
            method:'get',
            "Content-Type": "application/json;charset=utf8",
            dataType:"json",
            success:function(data){
                if (data.status == 'ok') {
                    layedit.setContent(index,data.content)
                }
            },
            error:function(data){
                layer.alert(JSON.stringify(data), {
                    title: data
                });
             }
    });



  var active = {
    content: function(){
      var content = layedit.getContent(index)
      var text = layedit.getContent(index);
                    $.ajax({
                url:"/stocks/addStockContent",
                data:{"code":code,"name":name,"content":content},
                method:'post',
                "Content-Type": "application/json;charset=utf8",
                dataType:"json",
                success:function(data){
                    if (data.status == 'ok') {
                        layer.msg('更新成功');
                        window.location.href ="http://localhost:5050/stocks/stockDetail/" + code + "/" + name;
                    }
                },
                error:function(data){
                    layer.alert(JSON.stringify(data), {
                        title: data
                    });
                 }
            });
    }
  };

  $('.site-demo-layedit').on('click', function(){
    var type = $(this).data('type');
    active[type] ? active[type].call(this) : '';
  });


});
</script>
{% endblock %}